body{
    font-family: "Roboto" , sans-serif;
}

header{
     background-image: linear-gradient(100deg,#272a81,#6770e4);
}

.navbar-brand,
.text-primary {
    color: #ecf40a !important;
}

.blue-bg{
      background-color: #1035f0;
      color: #ffffff;
}
.btn-bg{
    background-color: #045731;
  color: #fff;
}


.icons{
    height: 32px;
    width: 32px;
    margin-bottom: 16px;
    color: #1700c6;
    background-color: #ffffff;
    padding: 6px ;
}